DJANGO_SECRET_KEY=5azed0_u&d22s2@rrnoohyijrfmi2cy9-v-zltc%!5opm@xzjs
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_ENV=prod

DB_NAME=social_db
DB_USER=admin
DB_PASSWORD=admin123
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@gmail.com
DJANGO_SUPERUSER_PASSWORD=admin123
DJANGO_SUPERUSER_FULL_NAME=Admin User